.a-sidenav {
    transform:translateX(0)!important;
    width:250px!important;
}

.a-sidenav h4 {
    padding:0 60px;
    opacity:.8;
    font-size:2rem
}

.a-sidenav .bold.last {
    position:absolute;
    bottom:62px;
    width:100%;
}

.responsive-img {
    padding:0 70px;
}